* {
  font-family: lato, sans-serif;
  color: white;
}

body {
  padding: 1rem;
  background-color: #3830a4;
}

input {
  color: #4e4e4e;
  font-size: 1.2rem;
  width: 100%;
}

.title {
  display: flex;
  justify-content: space-between;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  align-content: center;
  border: 1px solid white;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  overflow: hidden;
  margin-bottom: 10px;
  margin-right: 10px;
}

.card p {
  padding: 5px;
  text-align: center;
}

.card img {
  max-height: 170px;
}
